body {
	margin: 0;
	height: 100vh;
	position: relative;
	background-color: rgba(140, 161, 218, 0.418);
}

/* font-family: 'Kanit', sans-serif;
font-family: 'Russo One', sans-serif;
font-family: 'Zen Dots', cursive; */

.header {
	padding: 0.5rem 1rem;
	background-color: rgb(25, 48, 95);
	color: rgba(240, 255, 255, 0.877) !important;
	font-family: 'Russo One', sans-serif;
	font-weight: bold;
}

.header .nav-title,
.nav-ul {
	display: inline-block;
}

.header button {
	display: none;
}

.nav-ul {
	list-style: none;
	float: right;
}

.nav-ul-mobile {
	display: none;
}

.nav-ul li {
	display: inline-block;
	margin-left: 50px;
}

.main-div {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.league-select,
.country-select {
	border: 1px solid rgb(25, 48, 95);
	margin: 0.5rem;
}

.input-area {
	margin-left: 25px;
	text-align: center;
}

.select-league-name {
	border: 1px solid rgb(25, 48, 95);
	margin-bottom: 3px;
	margin: 0.5rem;
	width: 45%;
}

.modal-toggle {
	display: none;
}

@media (max-width: 777px) {
	.header button {
		display: inline-block;
		float: right;
	}

	.nav-ul {
		display: none;
	}

	.mobile-nav-div {
		display: none;
		text-align: center;
	}

	.mobile-nav-div-toggle {
		display: block;
		transition: 0.4s;
	}

	.nav-ul-mobile {
		display: block;
		list-style: none;
		padding-left: 0;
	}

	.nav-ul-mobile li {
		padding: 7px;
		margin-left: 10px;
	}

	.main-div {
		margin: -22px;
		transform: translate(-41%, -38%);
	}

	.input-area {
		margin-left: 15px;
	}

	.select-league-name {
		width: 44%;
		margin: 0.3rem;
	}
}

.input-b {
	border-radius: 25px;
	margin: 1rem 45%;
	display: block;
}

.input-area {
	text-align: center;
	padding: 1rem 1rem 0 1rem;
	color: #fff;
}

.input-div {
	text-align: center;
}

/* .txtb {
    width: 30%;
    height: 2.5rem;
    border: 2px solid #28a745;
    border-radius: 5px;
  } */

.responsive {
	margin: 0 0 3px 2px !important;
}

.error,
.loading {
	margin: auto;
	text-align: center;
	max-width: 30%;
}

.msg {
	padding: 1rem;
}

.modal-bg {
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
}

.error p {
	margin-bottom: 0;
}

@media (max-width: 410px) {
	.nav-title {
		padding: 16px 3px 16px 3px;
		display: inline-block;
	}
	.result {
		width: 72% !important;
	}

	.btn {
		margin-top: 10px;
	}

	.error {
		max-width: 83%;
	}

	/* .txtb {
      width: 55%;
    } */

	.input-b {
		margin: 1rem 32%;
		display: block;
	}
}

.footer {
	width: 100%;
	padding: 15px;
	font-family: 'Kanit', sans-serif;
	font-weight: bold;
	color: #2e9e78c9;
	text-align: center;
	background-color: rgb(25, 48, 95);
	position: fixed;
	bottom: 0;
}

.result-section {
	width: 100%;
	z-index: 2;
}

.result {
	margin: 1rem auto 1rem auto;
	box-shadow: 0 2px 5px 0 #2e9e78c9;
	width: 65%;
	padding: 12px 0;
	background-color: #fff;
	border-radius: 20px;
	text-align: center;
}

.result .team {
	font-weight: bold !important;
	font-family: inherit;
}

.result p {
	color: grey;
	margin: 2px;
	display: inline-block;
	margin-bottom: 0;
}

/* Design for auto complete component */
.wrapper {
	max-width: 450px;
	margin: 150px auto;
}

.wrapper .search-input {
	background: #fff;
	width: 78%;
	margin: auto;
	border-radius: 5px;
	position: relative;
	box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12);
}

.search-input input {
	height: 55px;
	width: 100%;
	outline: none;
	border: none;
	border-radius: 5px;
	padding: 0 60px 0 20px;
	font-size: 18px;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.search-input.active input {
	border-radius: 5px 5px 0 0;
}

.search-input .autocom-box {
	padding: 0;
	/* pointer-events: none; */
	max-height: 280px;
	overflow-y: auto;
}

.search-input.active .autocom-box {
	padding: 10px 8px;
	opacity: 1;
	pointer-events: auto;
}

.autocom-box li {
	list-style: none;
	padding: 8px 12px;
	width: 100%;
	/* cursor: default; */
	border-radius: 3px;
}

.search-input.active .autocom-box li {
	display: block;
}
.autocom-box li:hover {
	background: #efefef;
}

.search-input .icon {
	position: absolute;
	right: 0px;
	top: 0px;
	height: 55px;
	width: 82px;
	text-align: center;
	line-height: 52px;
	font-size: 20px;
	color: #644bff;
	cursor: pointer;
}
